version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: primetech
    ports:
      - "5432:5432"
    volumes:
      - primetech_db:/var/lib/postgresql/data

  backend:
    build: .
    env_file:
      - .env
    ports:
      - "4000:4000"
    depends_on:
      - db

volumes:
  primetech_db:
